@{
    ViewData["Title"] = "Demo Live Insights";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>

<div>
    <h1>Live Insights info</h1>
    <h4>Ensure you have saved the connection string info in your user secrets file</h4><br />

    <span>
        "APPLICATIONINSIGHTS_CONNECTION_STRING": "InstrumentationKey=your-key-here;IngestionEndpoint=https://your-region.in.applicationinsights.azure.com/;LiveEndpoint=https://your-region.livediagnostics.monitor.azure.com/"
    </span>
    <br /> <br />
    <h4>Log in to your Azure Account</h4><br />
    <span>
        Find the Application Insights, then go to the "Live Metrics" left-nav under "Investigate"
    </span><br />
</div>
